.iconA {
  width: 50px;
  height: 50px;
}

.selector-for-some-widget {
  box-sizing: content-box !important;
}

.avatar.avatar--xlarge {
  position: relative !important;
  top: 4px !important;
  font-size: 10rem !important;
  height: 10rem !important;
  width: 10rem !important;
}

.avatar.avatar--xlarge1 {
  position: relative !important;
  top: 15px !important;
  font-size: 10.5rem !important;
  height: 10.5rem !important;
  width: 10.5rem !important;
}

.pagetitle {
  margin: 0 5rem !important;
}

#discography {
  margin: 0 5rem 0 5rem !important;
}

.navbar-nav {
  flex-direction: row !important;
  margin: 0 !important;
}

#ava {
  background: #00FEF3 !important;
}

.fullscreen {
  height: auto !important;
}

#avaimg {
  max-width: 100% !important;
  vertical-align: top !important;
}

.hero-body {
  height: 70vh !important;
  background: url(https://raw.githubusercontent.com/JayRizuri/jayrizuri.github.io/master/C761CF81-8205-4B7A-B2A9-E18D5EDD0406.jpeg) !important;
  border-bottom: 0.3rem solid rgba(173, 173, 173, 0.5);
}
