@import "1.css";
@import "animations.css";
@import "components.css";
@import "fonts.css";

:root {
	--rizuri-accent: #DD9AC2;
	--rizuri-accent-2: #b8719b;
	--rizuri-header: #12171D;
	--rizuri-bg: #262828;
	--rizuri-bg-2: #0B1119;
	--rizuri-link: #80cee1;
	--rizuri-link: #EAC0D9;
}

li.nav-item {
    vertical-align: middle;
    justify-content: center;
    align-self: center;
}
body {
	text-align: center;
	background-color: var(--rizuri-bg);
	color: white;
}
a:link[target=_blank], a:visited[target=_blank], a:active[target=_blank], a:hover[target=_blank] {
	text-decoration: none;
}
a:link, a:visited, a:active {
	font-weight: 700;
	color: var(--rizuri-link);
	background-color: transparent;
}
a:hover {
	font-weight: 700;
	color: var(--rizuri-link-hover);
	background-color: transparent;
}