/*
	--- The Paragraph
*/
.par {
    display: inline-grid;
    padding: 0 15% 0 7%;
    font-size: 1.1rem;
    width: 76%;
    text-align: left;
    flex-flow: column;
}
.par div {
    width: 120%;
}

.icon {
	color: var(--rizuri-accent);
}

.text-outline {
	color: black;
	text-shadow:
		-2px -2px 0 var(--rizuri-accent),
		2px -2px 0 var(--rizuri-accent),
		-2px 2px 0 var(--rizuri-accent),
		2px 2px 0 var(--rizuri-accent);
}

.title {
    font-size: 3.3rem;
} 
