/*
	--- The Paragraph
*/
.par {
    display: inline-grid;
    padding: 0 15% 0 7%;
    font-size: 1.1rem;
    width: 76%;
    text-align: left;
    flex-flow: column;
}
.par div {
    padding: 0 0 0 1vh;
    margin: 0;
    background: var(--rizuri-bg);
}

.icon {
	color: var(--rizuri-accent);
}

.text-outline {
	color: black;
	text-shadow:
		-2px -2px 0 var(--rizuri-accent),
		2px -2px 0 var(--rizuri-accent),
		-2px 2px 0 var(--rizuri-accent),
		2px 2px 0 var(--rizuri-accent);
}

.title {
    font-size: 3.3rem;
} 

.stripes {
    padding: 0 0 0 0.75vh !important;
	background: repeating-linear-gradient(
		45deg,
		var(--rizuri-bg),
		var(--rizuri-bg) 7px,
		var(--rizuri-bg-2) 7px,
		var(--rizuri-bg-2) 15px
	   ) !important;
	width: 120% !important;
    margin: 0 0 1vw -5vw !important;
    right: 3vw !important;
}